body{
  background-color: #ffc7c7;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 5px;
  width: 5%;
}

img {
  height: 300px;
}

h1 {
  color: #194350;
}

h3 {
  text-transform: capitalize;
  color: #6a2c70;
}

/*Class*/
.pic:hover {
  height: 400px;
}
